<% layout("/layouts/boilerplate")-%>
<body>
<br>
 <div class="row">
    <div class="card col-8 offset-2">
    <form action="/listings/<%=listing._id%>?_method=Put" method="post" class="row g-3 needs-validation" novalidate>
        <h3>Edit the list</h3>
    <div class="col-12">
   
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"  name="listing[title]" value="<%=listing.title%>" placeholder="Enter title" required>

        <div class="valid-feedback">
          Looks good!
        </div>

      <div class="invalid-feedback">
          Please give leagle title.
      </div>


      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label for="image">Image Url</label>
        <input type="text" class="form-control"  name="listing[image]" value="<%=listing.image%>" id="image"  placeholder="Enter Image Url" required>

        <div class="valid-feedback">
          Looks good!
        </div>

      <div class="invalid-feedback">
          Please enter valid URL.
      </div>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label for="description">Product Description</label>
        <textarea name="listing[description]" class="form-control" id="description" rows="3" required> <%=listing.description%></textarea>

        <div class="valid-feedback">
          Looks good!
        </div>

      <div class="invalid-feedback">
          Please enter description of product.
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" max=5 min=0 name="listing[rating]" value="<%=listing.rating%>" class="form-control" id="rating"  placeholder="Enter Image Url" required>

        <div class="valid-feedback">
          Looks good!
        </div>

      <div class="invalid-feedback">
          Please give rating of product.
      </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="listing[price]" value="<%=listing.price%>"  class="form-control" id="price"  placeholder="Enter Price" required>
        <div class="valid-feedback">
          Looks good!
        </div>

      <div class="invalid-feedback">
          Please give price of product.
      </div>
      </div>
    </div>

    <div class="col-md-6">
        <button type="submit" class="button btn btn-dark">Update Details</button>
    </div>

    
  </form>


    <div class="col-md-6 mt-2">
        <a href="/listings/<%=listing._id%>/show"><button class="button btn  btn-dark"> Cancal</button></a>
    </div>

    </div>
 </div> 

</body>
