<% layout("layouts/boilerplate") -%>

   <div class="row mt-3">
    <div class="col-8 offset-2">

        <div class="card">
            <h3><%=listing.title%></h3>
            <img class="card-img-top mt-3 mb-3" src="<%=listing.image%>" height="200px" width="80%" alt="Card image cap">
            <h5>Description</h5> <br>
            <p><%=listing.description%></p>

            <h5>Rating : </h5>
            <p><%=listing.rating%> <i class="fa-solid sm fa-star" style="color: rgb(193, 185, 21);"></i> / 5 <i class="fa-solid sm fa-star" style="color: rgb(255, 242, 0);"></i> </p><br>
            <h5>Price : </h5>
            <p> &#8377; <%=listing.price.toLocaleString('en-in')%>   only</p>

            <div class="row show-card">

            <a href="/listings" class="col-md-3 col-sm-12 mb-3 mt-3"><button type="button" class="btn btn-dark">Buy Now</button></a>

            <a href="/listings/<%=listing._id%>/edit" class="col-md-3 col-sm-12 mb-3 mt-3 "><button  type="button" class="btn btn-dark">Edit</button></a> <br>
        
            <form action="/listings/<%=listing._id%>?_method=Delete" method="post" class="col-md-3 col-sm-12 mb-3 mt-3">
                <button type="submit" type="button" class="btn btn-dark">Delete</button>
            </form>

            <a href="/listings" class="col-md-3 col-sm-12 mb-3 mt-3"><button type="button" class="btn btn-dark">Back</button></a>

            </div>
        </div>


    </div>
   </div>
</html>